ody {

    margin: 0;
    padding: 30px;

    background: #f8efe7;

    font-family: Arial, sans-serif;

    color: #6d1f1f;

}

.container {

    max-width: 850px;

    margin: auto;

}

header {

    text-align: center;

    margin-bottom: 30px;

}

header h3 {

    letter-spacing: 8px;

    font-size: 18px;

}

header h1 {

    font-size: 70px;

    margin: 10px 0;

    font-weight: normal;

}

header p {

    font-size: 28px;

    font-style: italic;

}

.subtitulo {

    background: #e6cfc2;

    padding: 18px;

    border-radius: 50px;

    text-align: center;

    margin-bottom: 40px;

}

.card {

    display: flex;

    background: white;

    border-radius: 30px;

    overflow: hidden;

    margin-bottom: 25px;

}

.dia {

    width: 150px;

    background: #7b1e1e;

    color: white;

    font-size: 35px;

    font-weight: bold;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 10px;

}

.conteudo {

    padding: 30px;

}

.categoria {

    background: #ead5cb;

    padding: 10px 20px;

    border-radius: 30px;

    font-weight: bold;

}

.conteudo p {

    font-size: 24px;

    line-height: 1.5;

}
